<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        {
                {
                    {
                    commonCss
                }
            }
        }

        .notice-body {
            margin-top: 30px;
            text-align: justify;
            line-height: 1.8;
        }

        .form-title {
            text-align: center;
            font-size: 16pt;
            font-weight: bold;
            margin: 20px 0;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="{{logoPath}}" alt="Logo">
            <h1>महाराष्ट्र शासन</h1>
            <h2>कार्यकारी दंडाधिकारी तथा उपविभागीय दंडाधिकारी यांचा न्यायालय, {{policeStationName}}</h2>
        </div>

        <div class="form-title">नोटीस (कलम १३० नुसार)</div>

        <div class="case-info">
            <div>
                <p><span class="bold">शाखा चॅप्टर केस नं:</span> {{branchChapterCaseNo}}</p>
                <p><span class="bold">कलम:</span> {{sections}}</p>
            </div>
            <div class="text-right">
                <p><span class="bold">तारीख:</span> {{currentDate}}</p>
            </div>
        </div>

        <div class="notice-body">
            <p>प्रति,</p>
            <p class="bold">{{accused.name}}</p>
            <p>{{accused.address}}</p>

            <p class="mt-20">
                ज्याअर्थी, पोलीस ठाणे {{policeStationName}} यांनी आपल्याविरुद्ध फौजदारी प्रक्रिया संहिता कलम १०७ / ११०
                अन्वये प्रतिबंधक कारवाई करण्याचा अहवाल सादर केला आहे.
                त्याअर्थी, आपणास या नोटीसीद्वारे कळविण्यात येते की, आपण आपल्या वर्तणुकीबाबत चांगल्या वर्तणुकीचा बंधपत्र
                का लिहून देऊ नये?
                याबाबतचे कारण सांगण्यासाठी आपण दिनांक <span class="bold">{{hearingDate}}</span> रोजी सकाळी ११.०० वाजता
                या न्यायालयात हजर राहावे.
            </p>

            <p>
                जर आपण सदर दिनांकास हजर न राहिल्यास, आपल्या गैरहजेरीत पुढील कारवाई करण्यात येईल याची नोंद घ्यावी.
            </p>
        </div>

        <div class="footer mt-20">
            <div class="signature-box">
                {{#if accused.signature}}
                <img src="{{accused.signature}}" alt="Signature">
                {{/if}}
                <p>सामनेवाला इसम</p>
            </div>
            <div class="signature-box">
                <div class="stamp">न्यायालय शिक्का</div>
                <p class="mt-20">कार्यकारी दंडाधिकारी</p>
            </div>
        </div>
    </div>
</body>

</html>